html {
    scroll-behavior: smooth;
}

* {
    font-family: "Comic Sans MS", sans-serif;
}

img {
    width: 100%;
}
body{
    position: relative;
}
#index {
    margin-bottom: 1em;
    font-size: 2em;
    border: 1px solid gray;
    padding: 10px;
}

#content {
    top: 30px;
    margin-left: 20% ;
    margin-right: 20%;
    border: 1px solid rgba(128, 128, 128, 0.49);
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12), 0 5px 10px rgba(0,0,0,0.24);
    float: left;
}
#ads{
    width: 20%;
    position: fixed;
    top:20%;
    right: 0;
}

#quang-cao1{
    width: 20%;
    position: fixed;
    top: 20%;
    left: 0;

}
#slider{
    background-color: darkcyan;
    position: fixed;
    text-shadow: #2a1416;
    top: 0;
    left: 20%;
    width: 60%;
    color: white;
    font-size: 20px;
}

h1 {
    text-align: center;
}

h5 {
    margin: 0;
    font-size: 1em;
}

p {
    font-size: 1.5em;
    text-align: justify;
}

#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    color: darkcyan;
}

a, ol {
    text-decoration: none;
    color: darkcyan;
    margin: 0;
    font-weight: bold;
}

